.container .jumbotron {
    background-color: #172c39;
}

.jumbotron .heading {
    font-family: "Mukta Mahee", sans-serif;
    color: #e5dfd4;
    margin-left: 0.3em;
    font-size: 4em;
}

.jumbotron .fa-clock {
    color: #e5dfd4;
}